<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="pokemon">
    <ion-card-header>
      <ion-thumbnail>
        <img [src]="pokemon.sprite" class="thumb-img" />
      </ion-thumbnail>
      <ion-card-title>{{pokemon.name | titlecase}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Height: {{pokemon.height}}</p>
      <p *ngFor="let stat of pokemon.stats">
        {{stat.name | titlecase}}: {{stat.base}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>