<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://storage.googleapis.com/golden-wind/experts-club/capa-github.svg" />
    <ion-card-header>
      <ion-card-subtitle>Rocketseat</ion-card-subtitle>
      <ion-card-title>PokeClub</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nessa aula você vai aparender a criar sua primeira aplicação híbrida utilizando o Ionic Framework.</p>
      <br>
      <p>Version: 1.0.0</p>
    </ion-card-content>
  </ion-card>
</ion-content>